<div class="modal fade" id="modalConsult" tabindex="-1" aria-labelledby="modalConsultLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalConsultLabel">Eventlogs</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="eventType" class="form-label">Seleccionar tipo</label>
          <select id="eventType" class="form-select" (change)="onEventTypeChange($event)">
            <option value="">Todos</option>
            <option value="1">Api</option>
            <option value="2">Formulario de eventos manuales</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Rango de fechas</label>
          <input type="date" class="form-control mb-2" placeholder="Fecha de inicio" (change)="onStartDateChange($event)">
          <input type="date" class="form-control" placeholder="Fecha de fin" (change)="onEndDateChange($event)">
        </div>

        <!-- Tabla de eventos -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Identificador</th>
              <th scope="col">Fecha</th>
              <th scope="col">Descripción</th>
              <th scope="col">Tipo de Evento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of filteredEvents">
              <td>{{ event.id }}</td>
              <td>{{ event.fecha }}</td>
              <td>{{ event.descripcion }}</td>
              <td>{{ getEventTypeDescription(event.tipoEvento) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="applyFilter()">Filtrar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
